@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Browser-Based Chat</h1>
    <p class="lead">
        MVC Web Application Built by Julio Martin for Jobsity.
        <br />
        RabbitMQ as a Message Broker
        <br />
        MySQL as a DataBase for Managing Users
    </p>
</div>